/Release/
/ipch/
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.sbr
*.tlog
Graphics.opensdf
Application/Image/BakedBeansQuad.tga
Application/Image/CerealKillerCereal.tga
Application/Image/CerealKillerQuad.tga
Application/Image/ChipMatesCereal.tga
Application/Image/ChipMatesCerealQuad.tga
Application/Image/Coke.tga
Application/Image/CokeZeroQuad.tga
Application/Image/Ferrero.tga
Application/Image/FerreroQuad.tga
Application/Image/GummyBears.tga
Application/Image/GummyBearsCerealQuad.tga
Application/Image/HersheyQuad.tga
Application/Image/MountainDew.tga
Application/Image/MountainDewQuad.tga
Application/Image/OrangeQuad.tga
Application/Image/Oranges.tga
Application/Image/SodaCan.tga
Application/Image/SodaQuad.tga
Application/Image/SpringRollsQuad.tga
Application/Image/Springrolls.tga
Application/Image/StitchCerealQuad.tga
Application/Image/black.tga
Application/Image/blue.tga
Application/Image/green.tga
Application/Image/grid.tga
Application/Image/hershey.tga
